<div class="card">
  <header class="homePostheader"><h4>Comment</h4><p>Left by
      {{username}}
      on
      {{created_on}}
    </p></header>
  <div><p class="homePostContent">{{content}}</p></div>
</div>