<section>
  <div><a href=""><h3>{{title}}</h3></a><p>Created by
      {{user.username}}
      on
      {{created_on}}</p></div>

  <p>{{content}}</p>
  <div><a href="">Update Post</a><a href="">Delete Post</a></div>

</section>