<header><h1>Your Dashboard</h1></header>
<div>{{#each posts as |post|}}
{{> dashboard-details}}
{{/each}}</div>

<div class="btnGroup flex">
    <button id="newPostButton" class="lgnbtn">+ New Post</button>
</div>

<script src="/js/newPost.js"></script>

<script src="/js/handlePosts.js"></script>
