<header><h1>Your Dashboard</h1></header>
<div>{{#each posts as |post|}}
{{> dashboard-details}}
{{/each}}</div>

<div>
    <button id="newPostButton">New Post</button>
</div>

<script src="/js/newPost.js"></script>

<script src="/js/handlePosts.js"></script>
