<div class="card">
  <h2 class="page-title">New post</h2>
  <form class="form login-form homePostContent" id="post-form">
    <div class="form-group updgroup">
      <label for="postTitle" id="updtitle" class="page-title">Title</label>
      <input class="form-input" type="text" id="postTitle" />
    </div>
    <div class="form-group updgroup">
      <label
        for="post-content"
        id="updtitle"
        class="page-title"
      >Content:</label>
      <textarea
        name="newPost"
        id="postContent"
        cols="30"
        rows="10"
        class="form-input"
      ></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary lgnbtn" type="submit">Create Post</button>
    </div>

  </form>
</div>

<script src="/js/addNewPost.js"></script>