<h2 class="page-title">New post</h2>
<form class="form post-form" id="post-form">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input class="form-input" type="text" id="postTitle" />
  </div>
  <div class="form-group">
    <textarea name="newPost" id="postContent" cols="30" rows="10"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Post</button>
  </div>

</form>

<script src="/js/addNewPost.js"></script>